{% extends '_base.html' %}

{% block content %}

{% for product in object_list %}
<div class="container py-3">
<div class="card-deckS">
<div class="card text-white bg-danger ml-3" style="max-width: 18rem;">
    <a href="{% url 'product-detail' product.id %}"><h5 class="text-center">{{product.name}}</h5></a> 
    <div class="card-body">
      <h5 class="card-text">{{product.price}}</h5>
    </div> 
</div>
</div>
</div>              
{% endfor %}
    

<!-- <div class="container">  
      <h4>Our products</h4>  
      <div class="card-columns">  
          <div class="card bg-dark">  
              <div class="card-body text-center text-white">  
                  <a href='#'><h5 class="text-center">T-shirt</h5></a>  
                  <p class="card-text">price: 5$</p>  
              </div>  
          </div>  
          <div class="card bg-warning">  
              <div class="card-body text-center text-white">  
                  <a href='#'><h5 class="text-center">Shoes</h5></a> 
                  <p class="card-text">price: 25$</p>  
              </div>  
          </div>  
          <div class="card bg-warning">  
              <div class="card-body text-center text-white">  
                  <a href='#'><h5 class="text-center">Dress</h5></a>  
                  <p class="card-text">price: 12$</p>  
              </div>  
          </div>  
          <div class="card bg-dark">  
              <div class="card-body text-center text-white">
  <a href='#'><h5 class="text-center">Shirt </h5></a>
    
                  <p class="card-text">price: 8$</p>  
              </div>  
          </div>  
          <div class="card bg-dark">  
              <div class="card-body text-center text-white">  
                  <a href='#'><h5 class="text-center">Tops</h5></a>  
                  <p class="card-text">price: 4$</p>  
              </div>  
          </div>  
          <div class="card bg-warning">  
              <div class="card-body text-center text-white">  
                  <a href='#'><h5 class="text-center">Pants</h5></a> 
                  <p class="card-text">price: 9$</p>  
              </div>  
          </div>  
      </div>  
  </div>  -->
          

{% endblock content %}
    
              
              
    